ul{
    list-style-type: none;
}

.email-subject{
    margin: 0;
}

.email-preview{
<<<<<<< HEAD
    border-bottom: 1px solid var(--mid);
    padding: 8px 0;
    /* margin-bottom: 8px; */
}

.email-preview:hover{
    cursor: pointer;
}

=======
    border-bottom: 1px solid val(--mid);
    margin-bottom: 8px
}
>>>>>>> 0.3
