ul{
    list-style-type: none;
}

.email-subject{
    margin: 0;
}

.email-preview{
    border-bottom: 1px solid var(--mid);
    padding: 8px 0;
    /* margin-bottom: 8px; */
}

.email-preview:hover{
    cursor: pointer;
}

