.email-preview{
    height: 40px;
}

.email-preview:hover{
    background-color: var(--superLight);
}

.email-preview.unRead{
    font-weight: 800;    
    color: black;
}
.email-date{
    font-weight: 400;
}

.email-sender{
    margin: 5px 0;


}

.prev-content{
    width: 80vw;

    padding-right: 15px;


}

.prev-subject{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}