*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}
.around{
    justify-content: space-around;
}

i:hover{
    cursor: pointer;
}

.email-container{
    padding: 0 10px;
    margin-bottom: 20px;
}
